html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Serif Pro', serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.nav-menu-div {
  background-color: #FFFFFF0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.nav-menu-list {
  background-color: #FFFFFF0;
  border: 0;
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

.menu-option {
  display: inline-block;
  float: left;
  list-style-type: none;
  text-align: center;
}

.menu-option-text {
  color: #FFFFFF;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 30px;
  text-align: center;
  text-decoration: none;
}

.menu-option-text:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin: 0;
}


.menu-button {
  display: inline-block;
  float: left;
  list-style-type: none;
  position: absolute;
  right: 100px;
  text-align: center;
  top: 50%;
  transform: translate(-0%, -50%);

}

.menu-resume {
  border-color: #FFFFFF;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
}

.menu-resume:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  cursor: pointer;
  margin: 0;
}

.menu-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dq-logo-img {
  height: 60px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-0%, -50%);
}

.start-page {
  background-image: linear-gradient(to bottom right, #207DFF 20%, #85EF47 130%);
  height: 940px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.profile {
  border-color: #FFFFFF;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  height: 400px;
  left: 30%;
  margin-right: 100px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.intro {
  height: 500px;
  left: 25%;
  margin: auto;
  padding-left: 0;
  position: absolute;
  text-align: left;
  top: 25%;
  width: 1000px;
}

.intro-heading-hello {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin: auto;
  position: relative;
}

.intro-heading-name {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  margin: 10px 10px auto 0;
  position: relative;
}

.intro-welcome {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin: 10px 10px 50px 0;
  position: relative;
}

.intro-desc {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 10px 10px 0px 0;
  position: relative;
  width: 620px;
}

.learn-more {
  position: relative;
  top: 880px;
}

.scroll-down {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.scroll-down-arrow {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50px;
  transform: translate(-50%, -50%);
  width: 50px;
}

#about-me {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 10px #00000020;
  min-height: 100px;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.about-me-heading {
  color: #207DFF;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 25px auto;
  position: relative;
  text-align: center;
}

.about-me-content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 225px 25px 50px 25px 50px 25px 50px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 450px;
}

.inline-link {
  font-family: 'Roboto', sans-serif;
  color: #5EC38F;
  font-weight: 400;
  text-decoration: none;
}

.inline-link:hover {
  font-weight: 600;
}

.about-me-text {
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  grid-row: 1 / 8;
  grid-column: 1 / 2;
  line-height: 1.4;
  padding: 0 50px;
  margin: 0;
  position: relative;
}

.profile-img {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  position: relative;
  width: 100%;
  max-width: 225px;
  max-height: 225px;
  border-radius: 5px;
}

.profile-overlay {
  background-image: linear-gradient(to bottom right, #207DFF 20%, #85EF47 130%);
  opacity: 0.5;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  position: relative;
  max-width: 225px;
  max-height: 225px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 5px;
}

.about-me-note-1 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
}

.about-me-note-answer-1 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.about-me-note-2 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
}

.about-me-note-answer-2 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.about-me-note-3 {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
}

.about-me-note-answer-3 {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.about-me-note-answer-1 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#experience {
  background-image: linear-gradient(to top right, #207DFF 20%, #85EF47 130%);
  height: auto;
  margin: 0;
  min-height: 100px;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

.experience-heading {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 25px auto;
  position: relative;
  text-align: center;
}

.experience-item {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 5px #00000010;
  max-width: 1000px;
  min-width: 700px;
  width: 60%;
  margin: 25px auto;
  display: grid;
  padding: 10px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50px 30px auto 25px;
  border-radius: 5px;
  min-height: 100px;
  overflow: hidden;
}

.experience-company {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #207DFF;
  margin: auto 0 auto 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.experience-position {
  display: inline-block;
  margin: auto 0;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.experience-years {
  display: block;
  margin: 0 0 0 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.experience-desc {
  display: block;
  width: 100%;
  margin: 0;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.experience-fm {
  display: inline-block;
  position: relative;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

#projects {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 10px #00000020;
  min-height: 100px;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.projects-heading {
  color: #207DFF;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 25px auto;
  position: relative;
  text-align: center;
}

.project-list {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 0 auto;
  position: relative;
  width: 1000px;
}

.project-item {
  background-image: linear-gradient(to top right, #207DFF 20%, #85EF47 130%);
  background-color: #207DFF;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #00000010;
  text-align: left;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0;
}

.project-preview {
  max-height: 210px;
  min-height: 210px;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  z-index: 1;
}

.project-preview:hover {
  opacity: 0;
}

.project-title {
  position: absolute;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  top: 220px;
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
}

.project-desc {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  width: 280px;
  height: 190px;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
}

.project-tech {
  margin: 0 auto;
  padding: 0 0 5px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

.project-tech-item {
  display: inline-block;
  float: left;
  color: #85EF47;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.projects-note {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  width: 250px;
  margin: 50px auto 0 auto;
}

#contact-me {
  background-image: linear-gradient(to bottom right, #207DFF 20%, #85EF47 130%);
  min-height: 100px;
  overflow: hidden;
  padding: 100px 0 0 0;
  position: relative;
  width: 100%;
}

.contact-me-heading {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 3rem;
  position: relative;
  text-align: center;
}

.contact-me-text {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  text-align: center;
  width: 750px;
  margin: 0 auto;
}
.contact-me-email {
  margin: 50px auto;
  width: 150px;
}
.contact-me-button {
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.contact-me-button:hover {
  background-color: #FFFFFF30;
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 25%;
  max-width: 300px;
  min-width: 200px;
  margin: 50px auto 0 auto;
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 2px #00000010;
}

.social-media-icon {
  height: 36px;
}

.footnote {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  color: #FFFFFF;
  font-weight: 300;
  text-align: center;
  position: relative;
  width: 300px;
  margin: 100px auto 10px auto;
}
